@import './quasar.variables'
@import '../../../node_modules/quasar/dist/quasar.styl'
// @import '~quasar-addon-styl'

.q-field__native, .q-field__prefix, .q-field__suffix {
  line-height: 16px;
  outline: 0;
  padding: 2px 0;
}

.q-field--dense .q-field__control, .q-field--dense .q-field__marginal {
  height: 24px;
}

.q-field--auto-height.q-field--dense .q-field__control, .q-field--auto-height.q-field--dense .q-field__native {
  min-height: 24px;
}

.q-field {
  font-size: inherit;
}
